body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.logo img {
    max-width: 150px; /* Adjust the width as needed */
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #ccc;
    font-size: 18px;
    outline: none;
}

.search-bar button {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}

.featured-products {
    text-align: center;
}

.product {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    margin-bottom: 5px;
}

.product p {
    color: #777;
}

.product button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}
